.searchPanel {
  margin-left: 48px;
  margin-top: 40px;
  input {
    width: 954px;
    height: 45px;
    background: #ffffff;
    border: 1px solid #ebebeb;
    box-sizing: border-box;
    border-radius: 15px;
    padding-left: 37px;
    background: url(../../Interaction/Vector.svg) no-repeat 15px;
    &::placeholder {
      font-size: 14px;
      font-weight: 400;
    }
  }
}
