.tableHeader {
  td {
    text-align: left;
    border: none;
    padding: 10px 0px 10px 19px;
    font-size: 11px;
    vertical-align: top;
    color: rgba(153, 153, 153, 1);
    vertical-align: middle;
    font-family: "Roboto";
    font-weight: 500;
    font-style: normal;
    cursor: pointer;
  }
}
