.table {
  width: 954px;
  border: none;
  margin-bottom: 20px;
  border-collapse: separate;
  border-spacing: 0px 5px;
  margin-left: 48px;
  margin-top: 30px;
}
.block-notResult {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 149px;
  button {
    margin-top: 42px;
    border-radius: 10px;
    width: 95px;
    height: 30px;
    border: none;
    color: #ffffff;
    font-size: 12px;
    font-family: "Montserrat";
    font-weight: 600;
    background-color: rgba(46, 229, 172, 1);
    cursor: pointer;
  }
  h2 {
    font-family: "Montserrat";
    font-size: 24px;
    font-weight: 500;
  }
}
